@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Oleo+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #A9DBD7;
    margin: 2px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    padding: 4px;
    padding-top: 0px;
    padding-right: 0px;
    justify-content: center;
}

li {
    display: block;
    margin: 0.15em;
    margin-right: 0;
    margin-left: 0;
}

a {
    text-decoration: none;
    color: #DFFFFC;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    font-size: 28px;
    padding: 20px;
    padding-top: 5px;
}

h3 {
    font-family: 'Oleo Script';
    font-size: 2.5em;
    color: #DFFFFC;
    background-color: #507B78;
    padding: 0.45em 1em;
    border-radius: 0.7em;
}

.other-buttons {
    background: #507B78;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#active-button {
    background: #203937;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#display-none {
    visibility: hidden;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}

main section {
    display: flex;
    flex-direction: column;
}

main section i {
    background-color: #385754;
    color: #DFFFFC;
    padding: 0.45em;
    border-radius: 100%;
    font-size: 3em;
    align-self: center;
    position: relative;
    top: 0.35em;
}

#icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 5;
}

#icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
    color: #DFFFFC;
    background: #507B78;
    border-radius: 100%;
    width: 2em;
    height: auto;
    aspect-ratio: 1/1;
}

#hr {
    margin: 0em;
    padding: 0em;
    background-color: #385754;
    position: absolute;
    width: 100%;
    height: 28vh;
    bottom: 0;
}