@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Oleo+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #A9DBD7;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    padding: 0.25em;
    padding-top: 0;
    padding-right: 0;
    justify-content: center;
}

li {
    display: block;
    margin: 0.15em;
    margin-right: 0;
    margin-left: 0;
}

li a {
    text-decoration: none;
    color: #DFFFFC;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    font-size: 1.8em;
    padding: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.5em;
    transition: all 70ms linear 10ms;
}

a:hover {
    background-color: #369a31;
}

#icons a {
    text-decoration: none;
}

#icons i {
    transition: all 100ms linear 50ms;
}

#icons i:hover {
    background-color: #203937;
    color: #A9DBD7;
}

h3 {
    font-family: 'Oleo Script';
    font-size: 2.5em;
    color: #DFFFFC;
    background-color: #507B78;
    padding: 0.45em 1em;
    border-radius: 0.7em;
}

.other-buttons {
    background: #507B78;
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

#active-button {
    background: #203937;
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

#display-none {
    visibility: hidden;
}

#ph-m {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}

#ph-m section {
    display: flex;
    flex-direction: column;
}

#ph-m section i {
    background-color: #385754;
    color: #DFFFFC;
    padding: 0.45em;
    border-radius: 100%;
    font-size: 3em;
    align-self: center;
    position: relative;
    top: 0.35em;
}

#icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 5;
}

#icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
    color: #DFFFFC;
    background: #507B78;
    border-radius: 100%;
    width: 2em;
    height: auto;
    aspect-ratio: 1/1;
}

#hr {
    margin: 0em;
    padding: 0em;
    background-color: #385754;
    position: absolute;
    width: 100%;
    height: 28vh;
    bottom: 0;
}

.responsive {
    display: none;
}

@media screen and (width < 800px) {
    main {
        height: 180vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div {
        display: flex;
    }
    .responsive {
        display: block;
    }
    hr {
        display: none;
    }
    #ph-m, #icons {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #ph-m {
        height: 60vh;
    }
    #icons {
        height: 90vh;
    }
    #icons div {
        display: flex;
        flex-direction: column;
    }
    #icons i {
        background-color: #385754;
        color: #DFFFFC;
        padding: 0.45em;
        border-radius: 100%;
        font-size: 3em;
        position: relative;
        top: 0.35em;
    }
    #icons a {
        align-self: center;
    }
    h3 {
        width: 10em;
    }
    #phone,
    #email,
    #twitter,
    #github,
    #facebook {
        text-align: center;
    }
}

@media screen and (width < 650px) {
    #display-none {
        display: none;
    }
    nav {
        display: flex;
        justify-content: center;
        position: sticky;
    }
    li a {
        font-size: 1.2em;
        padding: 0.5em 1em;
    }
    ul {
        width: 100vw;
        justify-content: space-evenly;
    }
}

@media screen and (width < 410px) {
    li a {
        font-size: 1.09em;
        padding: 0.5em 0.8em;
    }
    main {
        margin-top: 2em;
        height: 130vh;
    }
    #ph-m {
        height: 50vh;
    }
    #icons {
        height: 75vh;
    }
    #ph-m section i,
    #icons i,
    h3 {
        font-size: 2em;
    }
}

@media screen and (width < 345px) {
    li a {
        font-size: 1em;
        padding: 0.4em 0.5em;
    }
    li { 
        margin-top: 0;
    }
    #ph-m section i,
    #icons i,
    h3 {
        font-size: 1.5em;
    }
}