@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Oleo+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #A9DBD7;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    padding: 0.25em;
    padding-top: 0;
    padding-right: 0;
    justify-content: center;
}

li {
    display: block;
    margin: 0.15em;
    margin-right: 0;
    margin-left: 0;
}

li a {
    text-decoration: none;
    color: #DFFFFC;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    font-size: 1.8em;
    padding: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.5em;
    transition: all 70ms linear 10ms;
}

a:hover {
    background-color: #369a31;
}

img {
    width: 15.6em;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-fit: cover;
}

.other-buttons {
    background: #507B78;
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

#active-button {
    background: #203937;
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

#display-none {
    visibility: hidden;
}

#name {
    position: relative;
    top: -2em;
    display: inline-block;
    font-size: 1.8em;
    letter-spacing: -0.07em;
    color: #DFFFFC;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    padding: 0.6em 2.5em;
    background: #507B78;
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

#empty {
    padding-left: 0.15em;
}

h2#biography {
    display: inline-flex;
    margin-left: 1.25em;
    color: #DFFFFC;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    font-size: 1.6em;
    padding: 0.6em 1.6em;
    background: #507B78;
    border-radius: 3.12em;
}

#about-me {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7em;
    color: #DFFFFC;
    font-family: 'Oleo Script';
    font-size: 2rem;
    padding: 0.6em 1.6em;
    margin-top: 0.1em;
    background: #507B78;
    border-radius: 2.12em;
}

#gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.middle-photo {
    margin-top: -0.9em;
}

#my-pic-responsive {
    display: none;
}

.side-photo {
    margin-top: 2.3em;
}

.text {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    font-family: 'Oleo Script';
    color: #E9F4F3;
    text-transform: uppercase;
}

#hobby-m {
    transform: translate(-25px, -44px) rotate(39deg);
}

#hobby-y-1 {
    transform: translate(-28px, -23px) rotate(30deg);
}

#hobby-h {
    transform: translate(-4px, -6px) rotate(5deg);
}

#hobby-o {
    transform: translate(1px, -5px) rotate(-8deg);
}

#hobby-b-1 {
    transform: translate(6px, -9px) rotate(-16deg);
}

#hobby-b-2 {
    transform: translate(12px, -20px) rotate(-29deg);
}

#hobby-y-2 {
    transform: translate(16px, -40px) rotate(-40deg);
}

#me-m {
    transform: translate(-5px, -10px) rotate(4deg);
}

#me-e {
    transform: translate(5px, -10px) rotate(-4deg);
}

#passion-m {
    transform: translate(-24px, -49px) rotate(41deg);
}

#passion-y {
    transform: translate(-24px, -28px) rotate(30deg);
}

#passion-p {
    transform: translate(-4px, -6px) rotate(5deg);
}

#passion-a {
    transform: translate(1px, -5px) rotate(-8deg);
}

#passion-s-1 {
    transform: translate(6px, -6px) rotate(-16deg);
}

#passion-s-2 {
    transform: translate(12px, -12px) rotate(-29deg);
}

#passion-i {
    transform: translate(16px, -20px) rotate(-40deg);
}

#passion-o {
    transform: translate(20px, -31px) rotate(-48deg);
}

#passion-n {
    transform: translate(18px, -53px) rotate(-53deg);
}

@media screen and (width < 900px) {
    #name {
        display: none;
    }
    img {
        width: 12.5em;
    }
    .text {
        font-size: 2em;
    }
    h2#biography {
        font-size: 1.4em;
    }
    #about-me {
        font-size: 1.8em;
    }
}

@media screen and (width < 770px) {
    #display-none {
        display: none;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    li a {
        font-size: 1.2em;
        padding: 0.5em 1em;
        flex-wrap: wrap;
    }
    ul {
        width: 100vw;
        justify-content: space-evenly;
    }
    h2#biography {
        display: none;
    }
    #name {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: normal;
        top: 1em;
        font-size: 2.2em;
    }
    #my-pic-responsive {
        display: block;
        position: relative;
        top: 4.5em;
    }
    #my-pic {
        display: none;
    }
    #name-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text {
        font-size: 1.8em;
    }
    #about-me {
        height: 8em;
    }
    #name-d {
        transform: translate(-20px, 80px) rotate(-45deg);
    }
    #name-e {
        transform: translate(-20px, 66px) rotate(-39deg);
    }
    #name-a {
        transform: translate(-17px, 54px) rotate(-33deg);
    }
    #name-n {
        transform: translate(-11px, 45px) rotate(-28deg);
    }
    #name-y {
        transform: translate(0, 38px) rotate(-5deg);
    }
    #name-u-1 {
        transform: translate(5px, 37px) rotate(2deg);
    }
    #name-r {
        transform: translate(13px, 40px) rotate(11deg);
    }
    #name-u-2 {
        transform: translate(17px, 48px) rotate(18deg);
    }
    #name-k {
        transform: translate(21px, 58px) rotate(25deg);
    }
    #name-o {
        transform: translate(26px, 72px) rotate(33deg);
    }
    #name-v {
        transform: translate(28px, 88px) rotate(42deg);
    }
    #hobby-m {
        transform: translate(-30px, -40px) rotate(40deg);
    }
    #hobby-y-2 {
        transform: translate(14px, -32px) rotate(-40deg);
    }
    #passion-m {
        transform: translate(-27px, -44px) rotate(40deg);
    }
    #passion-y {
        transform: translate(-25px, -25px) rotate(37deg);
    }
    #passion-i {
        transform: translate(18px, -17px) rotate(-29deg);
    }
    #passion-o {
        transform: translate(20px, -27px) rotate(-35deg);
    }
    #passion-n {
        transform: translate(19px, -40px) rotate(-47deg);
    }
}

@media screen and (width < 410px) {
    li a {
        font-size: 1.09em;
        padding: 0.5em 0.8em;
    }
    #gallery {
        flex-wrap: wrap;
    }

}

@media screen and (width < 345px) {
    li a {
        font-size: 1em;
        padding: 0.4em 0.5em;
    }
    li { 
        margin-top: 0;
    }
}